table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
} 

.currentLeader{
    background-color: lightblue;
}

.UCL{
    background-color: lightcyan;
}

.UEL{
    background-color: rgb(249, 96, 35);
}

.CL{
    background-color: lightgreen;
}

.Reg{
    background-color: lightcoral;
}

.lastPlace{
    background-color: rgb(243, 87, 87); 
}