/*stylize background and postioning*/
#mainContainer{
    width: 300px;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/juve.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div.trans{
    margin: 30px;
    background: rgba(0, 0, 0, .5);
}

/*stylize tables looks and postioning*/
table, tr, td, th{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    color: ;
}

.currentLeader{
    background-color: rgb(0, 191, 255);
}

.UCL{
    background-color: rgb(137, 219, 246);
}

.UEL{
    background-color: rgb(249, 96, 35);
}

.CL{
    background-color: lightgreen;
}

.Reg{
    background-color: lightcoral;
}

.lastPlace{
    background-color: rgb(243, 87, 87); 
}

.Rest{
    background-color: white;
}

footer{
    margin-left: auto;
    margin-right: auto;
    color: white;
}